.main_layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;

  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.dark_half, .light_half {
  flex: 1;
  padding: 2rem;
}

.dark_half {
  background-color: var(--primary);
}

.light_half {
  background-color: var(--secondary);
}

.dark_content {
  text-align: right;

  .icons {
    margin-right: 5px;
  }

  a {
    margin-left: 1.5rem;
  }
}

.light_content {
  margin-top: 10px;

  p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 0.75rem;
  }

  a {
    border-bottom: 1px solid var(--dark);

    &:hover {
      color: var(--highlight);
      border-bottom: 1px solid var(--highlight);
    }
  }
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0;

  @media (max-width: 800px) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 1rem 0 2rem;

  @media (max-width: 800px) {
    font-size: 1rem;
  }
}

.project_button {
  background-color: var(--secondary);
  border: 1px solid var(--dark);
  color: var(--dark);
  margin-top: 1rem;

  &:hover {
    background-color: var(--highlight);
  }
}
