.outer_container {
  padding: 1.5rem;

  @media (max-width: 700px) {
    text-align: center;
  }
}

.inner_container {
  border: 1px solid var(--pink);
  display: inline-block;
  padding: 1rem;
  transition: all 0.35s ease-in-out;
  text-align: center;

  &:hover {
    border: 1px solid var(--teal);
  }
}

.main_title, .subtitle {
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  margin: 0.5rem 0;
}

.main_title {
  font-size: 0.75rem;
  color: var(--dark-grey);
}

.subtitle {
  font-size: 0.72rem;
  color: var(--light-grey);
}