.header {
  padding: 2rem;
}

.header_content {
  display: flex;
  max-width: 1050px;
  margin: 0 auto;
  font-size: 0.75rem;
  line-height: 1.5;

  @media (max-width: 800px) {
    justify-content: center;
  }
}

.link {
  max-width: 150px;
  cursor: pointer;

  @media (max-width: 800px) {
    text-align: center;
  }
}

.main_title, .subtitle {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  margin: 0.5rem 0;
}

.main_title {
  color: var(--dark);
}

.subtitle {
  color: var(--highlight);
}
